@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: lightgray;
}
.board {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  border: 1px solid black;
}
.cell {
  width: 40px;
  height: 40px;
  background-color: #bcbcbc;
  border: 1px solid grey;
}
.boards {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.ship {
  background-color: #333;
}
footer {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-weight: bold;
}
.hit {
  background-color: red;
}
.missed {
  background-color: lime;
}
